.search-container{
    display: flex;
}

.search-bar{
    width: 86%;
    border: 3px solid black;
    border-right: none;
    padding: 4px 16px;
    margin: 0px 0px 0px 28px;
}

.search-btn{
    width: auto;
    height: 38px;
}



.image-container{
    width: 218px;
    height: 300px;
    border: 2px solid black;
    margin: 36px;
    text-align: center;
}

.pagination {
    justify-content: center;
    margin-bottom: 32px;
}

.page-btn {
    height: 32px;
    margin: 0 16px;
}
