.search-container{
    display: flex;
}

.search-bar{
    width: 80%;
    border: 3px solid black;
    border-right: none;
    padding: 4px 16px;
    margin: 0px 0px 0px 28px;
}

.search-btn{
    width: auto;
    height: 32px;
}